<!-- step 1 -->
<div class="step" *ngIf="step === 1">
  <div class="step__info">
    <ul class="step__info_status">
      <li><img src="assets/icons/1_on.svg" /><span>Mis Datos</span></li>
      <li><img src="assets/icons/2_off.svg" /><span class="off">Pago</span></li>
    </ul>
  </div>

  <div class="step__data">
    <div class="step__data_title">Mis Datos</div>
    <div class="step__data_description">
      Revisa los datos y completa aquellos pendientes antes de<br />
      continuar con el proceso.
    </div>
    <div class="step__data_input">
      <label>Nombre</label>
      <input type="text" [(ngModel)]="name" />
    </div>
    <div class="step__data_input">
      <label>Apellidos</label>
      <input type="text" [(ngModel)]="surname" />
    </div>
    <div class="step__data_button">
      <div class="next" (click)="nextStep()">
        Continuar <img src="assets/icons/arrow_forward.svg" />
      </div>
    </div>
  </div>
</div>

<!-- step 2 -->
<div class="step" *ngIf="step === 2">
  <div class="step__info">
    <ul class="step__info_status">
      <li><img src="assets/icons/check.svg" /><span>Mis Datos</span></li>
      <li><img src="assets/icons/2_on.svg" /><span>Pago</span></li>
    </ul>
  </div>

  <div class="step__data">
    <div class="step__data_title">Pago del producto</div>
    <div class="step__data_description">
      Una vez efectuado el pago del producto, recibirás un email con los
      detalles de la compra.
    </div>
    <div class="step__data_cards">
      <ul>
        <li><img src="assets/icons/cards.svg" /></li>
        <li>Tarjeta de crédito</li>
        <li>
          Se redirigirá a una plataforma de pago. Se trata de un proceso seguro.
          Puede que la validación del pago tarde 24 horas en completarse.
        </li>
        <li><img src="assets/icons/visa_mastercard.svg" /></li>
      </ul>
    </div>
    <div class="step__data_button">
      <div class="prev" (click)="prevStep()">
        Anterior <img src="assets/icons/arrow_back.svg" />
      </div>
      <div class="next" (click)="nextStep()">
        Pagar <img src="assets/icons/arrow_forward.svg" />
      </div>
    </div>
  </div>
</div>

<!-- step 3 -->
<div class="step" *ngIf="step === 3">
  <div class="step__info">
    <ul class="step__info_status">
      <li><img src="assets/icons/check.svg" /><span>Mis Datos</span></li>
      <li><img src="assets/icons/check.svg" /><span>Pago</span></li>
    </ul>
  </div>

  <div class="step__data">
    <div class="step__data_diploma"><img [src]="imgResult" /></div>
    <div class="step__data_title">{{ result?.title }}</div>
    <div class="step__data_description">
      {{ result?.text }}
    </div>
  </div>
</div>
