@import "./../../../bem-sass/dist/bem-sass";

@include block("step") {
  margin-top: 58px;
  @include device {
    margin-top: 30px;
  }
  @include element("info") {
    width: 370px;
    margin: 0 auto;
    height: 122px;
    @include device {
      height: 90px;
    }
    @include modifier("status") {
      list-style: none;
      padding: 0;
      text-align: center;
      li {
        width: 180px;
        float: left;
        position: relative;
        span {
          position: absolute;
          top: 50px;
          width: 100%;
          left: 0;
          font-family: Mulish;
          font-weight: bold;
          font-size: 16px;
          text-transform: uppercase;
        }
        span.off {
          font-weight: normal;
          color: #bdbdbd;
        }
        &:nth-last-child(1) {
          float: right;
          &::before {
            content: "";
            width: 100px;
            border-top: 1px solid #e0e0e0;
            position: absolute;
            margin-left: -125px;
            top: 20px;
          }
        }
      }
    }
  }
  @include element("data") {
    max-width: 1130px;
    width: 100%;
    height: 520px;
    display: block;
    margin: 0 auto;
    background: #ffffff;
    padding: 60px 0 0 0;
    @include device {
      padding: 30px 0 0 0;
      height: 450px;
    }
    position: relative;
    box-shadow: 0px 0px 1px rgba(48, 49, 51, 0.05),
      0px 8px 16px rgba(48, 49, 51, 0.1);
    @include modifier("title") {
      font-family: Raleway;
      font-weight: bold;
      font-size: 30px;
      text-align: center;
      line-height: 42px;
      @include device {
        font-size: 24px;
      }
    }
    @include modifier("description") {
      width: 100%;
      font-family: Mulish;
      font-weight: 300;
      font-size: 16px;
      text-align: center;
      line-height: 20px;
      margin-bottom: 30px;
      margin-top: 10px;
      @include device {
        font-size: 13px;
        margin-top: 5px;
        margin-bottom: 20px;
        margin: 5px 15px 20px 15px;
        width: calc(100% - 30px);
      }
    }
    @include modifier("input") {
      max-width: 455px;
      @include device {
        max-width: 330px;
      }
      width: 100%;
      margin: 0 auto;
      margin-top: 30px;
      margin-bottom: 25px;
      @include device {
        margin-top: 15px;
        margin-bottom: 10px;
      }
      label {
        width: 100%;
        display: block;
        font-family: Mulish;
        font-weight: normal;
        font-size: 14px;
        line-height: 32px;
      }
      input {
        border: 2px solid #e6e6e6;
        max-width: 407px;
        @include device {
          max-width: 360px;
        }
        width: calc(100% - 40px);
        height: 48px;
        font-family: Mulish;
        font-weight: normal;
        font-size: 18px;
        line-height: 28px;
        padding-left: 20px;
        padding-right: 20px;
        &:active,
        &:hover {
          border: 2px solid #3d8fcb;
        }
      }
    }
    @include modifier("button") {
      max-width: 460px;
      width: 100%;
      position: absolute;
      bottom: 70px;
      left: 50%;
      margin-left: -230px;
      @include device {
        bottom: 30px;
        max-width: 340px;
        margin-left: -170px;
      }
      cursor: pointer;
      > div.next {
        width: 130px;
        @include device {
          width: 110px;
        }
        background-color: #3d8fcb;
        color: #ffffff;
        font-family: Mulish;
        padding: 10px 20px;
        border-radius: 43px;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        position: relative;
        float: right;
        img {
          position: absolute;
          right: 10px;
          top: 8px;
        }
        &:hover {
          background-color: #75c900;
        }
      }
      > div.prev {
        width: 130px;
        @include device {
          width: 110px;
        }
        border: 2px solid #3d8fcb;
        color: #3d8fcb;
        font-family: Mulish;
        padding: 10px 20px;
        border-radius: 43px;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        position: relative;
        text-align: right;
        float: left;
        img {
          position: absolute;
          left: 10px;
          top: 8px;
        }
      }
    }
    @include modifier("cards") {
      max-width: 415px;
      width: 100%;
      margin: 0 auto;
      border: 1px solid #e0e0e0;
      border-radius: 4px;
      @include device {
        max-width: 300px;
        padding: 10px 20px 0 20px;
      }
      padding: 10px 20px 10px 20px;
      ul {
        list-style: none;
        padding: 0;
        li {
          width: 100%;
          text-align: center;
          &:nth-child(1) {
          }
          &:nth-child(2) {
            font-family: Mulish;
            font-weight: bold;
            font-size: 24px;
            line-height: 32px;
            margin-bottom: 10px;
            @include device {
              font-size: 18px;
              margin-bottom: 0px;
            }
          }
          &:nth-child(3) {
            font-family: Mulish;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            @include device {
              font-size: 13px;
            }
          }
          &:nth-child(4) {
            margin-top: 20px;
          }
        }
      }
    }
    @include modifier("diploma") {
      text-align: center;
      margin: 130px 0 30px 0;
      @include device {
        margin-top: 100px;
      }
    }
  }
}
