@import "./../../../bem-sass/dist/bem-sass";

@include block("footer") {
  height: 75px;
  font-family: "Raleway";
  @include element("elements") {
    max-width: 1130px;
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    line-height: 75px;
    position: relative;
    li {
      &:nth-child(1) {
        font-size: 15px;
        float: left;
        font-size: 10px;
        color: #bdbdbd;
        margin-left: 20px;
      }
      &:nth-last-child(1) {
        width: 175px;
        right: 10px;
        top: 20px;
        position: absolute;
        height: 37px;
      }
    }
  }
}
