<header class="header">
  <ul class="header__elements">
    <li><img src="assets/logo.svg" /></li>
    <li>ES <img src="assets/icons/arrow.svg" /></li>
    <li><img src="assets/icons/sign_in.svg" /> Sign In</li>
    <li><img src="assets/icons/help.svg" /> Ayuda</li>
  </ul>
</header>
