@import "./../../../bem-sass/dist/bem-sass";

@include block("header") {
  height: 70px;
  @include device {
    height: 110px;
  }
  @include element("elements") {
    max-width: 1130px;
    width: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    line-height: 70px;
    position: relative;
    @include device {
      position: absolute;
      margin-top: 50px;
    }
    li {
      float: right;
      font-family: Mulish;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      align-items: center;
      text-transform: uppercase;
      margin: 0 20px 0 40px;
      img {
        position: absolute;
        top: 25px;
        margin-left: -25px;
      }
      &:nth-child(1) {
        width: 175px;
        right: 0;
        left: 0px;
        top: -10px;
        position: absolute;
        height: 37px;
        @include device {
          top: -60px;
        }
      }
      &:nth-child(2) {
        margin: 0 30px 0 20px;
        img {
          top: 30px;
          margin-left: 5px;
        }
      }
    }
  }
}
